@page "/attributions"

<PageTitle>Attributions</PageTitle>

<h4>The following resources originate from external sources.</h4>
<h4>Please check out the original creators!</h4>

<table class="table" style="border:none; width:500px;">
    <tbody>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\icons\all.png")" title="all" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/asterik" title="asterik icons">Asterik icons created by WhoCon - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\icons\cancel.png")" title="cancel" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/cancel" title="cancel icons">Cancel icons created by Alfredo Hernandez - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\icons\edit.png")" title="edit" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr style ="border:none">
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\icons\save.png")" title="save" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/save" title="save icons">Save icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\paymentTypes\CashPayout.png")" title="CashPayout" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/payout" title="payout icons">Payout icons created by muh zakaria - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\paymentTypes\DebitCard.png")" title="DebitCard" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/credit-card" title="credit card icons">Credit card icons created by juicy_fish - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\paymentTypes\DirectBooking.png")" title="DirectBooking" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/transaction" title="transaction icons">Transaction icons created by juicy_fish - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\paymentTypes\IncomingCredit.png")" title="IncomingCredit" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/argent" title="argent icons">Argent icons created by manshagraphics - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\paymentTypes\MonthClosing.png")" title="MonthClosing" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/calendar" title="calendar icons">Calendar icons created by Anggara - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\paymentTypes\PayPal.png")" title="PayPal" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/brands" title="brands icons">Brands icons created by pocike - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\paymentTypes\PermanentDebit.png")" title="PermanentDebit" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/repeat" title="repeat icons">Repeat icons created by Saepul Nahwan - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Concert.png")" title="Concert" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/concert" title="concert icons">Concert icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Donation.png")" title="Donation" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/charity" title="charity icons">Charity icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Fuel.png")" title="Fuel" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/fuel" title="fuel icons">Fuel icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Games.png")" title="Games" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/gaming" title="gaming icons">Gaming icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Groceries.png")" title="Groceries" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/supermarket" title="supermarket icons">Supermarket icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Hobbies.png")" title="Hobbies" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/soccer" title="soccer icons">Soccer icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Home.png")" title="Home" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/house" title="house icons">House icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Merchandise.png")" title="Merchandise" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/tshirt" title="tshirt icons">Tshirt icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\MiscIncome.png")" title="MiscIncome" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/benefit" title="benefit icons">Benefit icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Restaurant.png")" title="Restaurant" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/food" title="food icons">Food icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Salary.png")" title="Salary" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/money" title="money icons">Money icons created by Freepik - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Travel.png")" title="Travel" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/travel" title="travel icons">Travel icons created by Icon Pond - Flaticon</a></td>
        </tr>
        <tr>
            <td align="center"><img class="icon-image" src="@Path.Combine($@"images\transactionTypes\Uncategorized.png")" title="Uncategorized" /></td>
            <td align="center"><a href="https://www.flaticon.com/free-icons/question-mark" title="question mark icons">Question mark icons created by Vector Stall - Flaticon</a></td>
        </tr>
    </tbody>
</table>

