@page "/recipients"
@rendermode InteractiveServer
@attribute [StreamRendering]

@using Finanzknabe.Components.Helper
@using Finanzknabe.Contracts
@using Finanzknabe.Dal.Extensions
@using Finanzknabe.Data
@using Microsoft.EntityFrameworkCore
@using System.Collections.ObjectModel

@inject AppDbContext AppDbContext

<PageTitle>Recipients</PageTitle>

@if (this.FilteredRecipients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (!this.IsEditMode)
    {
        <button class="icon-button" @onclick="StartEditMode"><img class="icon-image" src="images\icons\edit.png" /></button>
    }
    else
    {
        <button class="icon-button" @onclick="SaveChanges"><img class="icon-image" src="images\icons\save.png" /></button>
        <button class="icon-button" @onclick="CancelChanges"><img class="icon-image" src="images\icons\cancel.png" /></button>
    }
    <hr />
    <div style="display: flex; justify-content:space-between" >
        <select class="form-select"
        style="width: 200px"
        disabled="@this.IsEditMode"
        @onchange="@((ChangeEventArgs e) => this.TransactionTypeFilter = TransactionTypeHelper.GetTransactionTypeOrDefault(e))">
            <option>Alle Empfänger</option>

            @foreach (TransactionType type in Enum.GetValues(typeof(TransactionType)))
            {
                <option>@TransactionTypeHelper.TransactionTypeConverter.ConvertToString(type)</option>
            }
        </select>
        <input @bind-value="this.NameFilter"
        placeholder="Search for a recipient..."
        id="filter-input"
        disabled="@this.IsEditMode" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Standardkategorie</th>
                <th>Empfaenger (abweichender Anzeigename)</th>
                <th>Empfaenger (Name im Kontoauszug)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipient in this.FilteredRecipients)
            {
                <tr>
                    <td width="250px">
                        @if (this.IsEditMode)
                        {
                            <select value=@TransactionTypeHelper.TransactionTypeConverter.ConvertToString(recipient.DefaultTransactionType)
                            style="margin-right: 32px"
                            @onchange="@((ChangeEventArgs e) => recipient.DefaultTransactionType = (TransactionType)TransactionTypeHelper.GetTransactionTypeOrDefault(e)!)">
                                @foreach (TransactionType type in Enum.GetValues(typeof(TransactionType)))
                                {
                                    <option>@TransactionTypeHelper.TransactionTypeConverter.ConvertToString(type)</option>
                                }
                            </select>
                        }

                        <img class="icon-image"
                        src="@Path.Combine($@"images\transactionTypes\{recipient.DefaultTransactionType.ToString()}.png")"
                        title="this.TransactionTypeConverter.ConvertToString(recipient.DefaultTransactionType)" />
                    </td>
                    <td width="600px" style="align-content:center">
                        @if (this.IsEditMode)
                        {
                            <InputText @bind-Value="recipient.CustomName" style="height:28px; width:90%; margin:0px"/>
                        }
                        else
                        {
                            <a>@recipient.CustomName</a>
                        }
                    </td>
                    <td style="align-content:center">@recipient.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private DbSet<Recipient>? AllRecipients;
    private ObservableCollection<Recipient> FilteredRecipients = new ObservableCollection<Recipient>();
    private bool IsEditMode;

    // Filters
    private TransactionType? myTransactionTypeFilter;
    private string myNameFilter = string.Empty;

    private TransactionType? TransactionTypeFilter
    {
        get => this.myTransactionTypeFilter;
        set
        {
            if (this.myTransactionTypeFilter != value)
            {
                this.myTransactionTypeFilter = value;
                this.FilterRecipients();
            }
        }
    }

    private string NameFilter
    {
        get => this.myNameFilter;
        set
        {
            if (this.myNameFilter != value)
            {
                this.myNameFilter = value;
                this.FilterRecipients();
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        this.AllRecipients = this.AppDbContext.Set<Recipient>();
        this.FilteredRecipients = this.AllRecipients.ToObservableCollection();
    }

    private bool FilterRecipients()
    {
        if (this.AllRecipients is not null)
        {
            var filteredRecipients = this.AllRecipients!.Where(x => x.Name.Contains(this.NameFilter));

            if (this.TransactionTypeFilter is not null)
            {
                filteredRecipients = filteredRecipients.Where(x => x.DefaultTransactionType == this.TransactionTypeFilter);
            }

            this.FilteredRecipients = filteredRecipients.ToObservableCollection();

            return true;
        }

        return false;
    }

    private void StartEditMode()
    {
        this.IsEditMode = true;
    }

    private void SaveChanges()
    {
        this.AppDbContext.SaveChanges();
        this.IsEditMode = false;
    }

    private void CancelChanges()
    {
        this.AppDbContext.ChangeTracker.Clear();
        this.IsEditMode = false;
    }
}
