@page "/transactions"
@rendermode InteractiveServer
@attribute [StreamRendering]

@using FinanzberaterHenno.Contracts
@using Finanzknabe.Data
@using Microsoft.EntityFrameworkCore

@inject AppDbContext AppDbContext

<PageTitle>Transaktionen</PageTitle>

@if (this.TransactionList == null)
{
    <p><em>Loading...</em></p>
}
else
{ 
    <table class="table">

        <thead>
            <tr>
                <th>Datum</th>
                <th>Monatlich</th>
                <th>Empfänger</th>
                <th>Zweck</th>
                <th>Betrag</th>
                <th>Zahlungstyp</th>
                <th>Transaktionstyp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in this.TransactionList)
            {
                <tr>
                    <td>@transaction.Date.ToShortDateString()</td>
                    <td align="center"><input type="checkbox" value="@transaction.Monthly" /></td>
                    <td>@transaction.Recipient.Name</td>
                    <td>@transaction.Purpose</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.PaymentType</td>
                    <td>@transaction.TransactionType</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private List<Transaction>? TransactionList;

    protected override async Task OnInitializedAsync()
    {
        this.TransactionList = AppDbContext.Set<Transaction>().Include(x => x.Recipient).Include(x => x.Account).ToList();
    }
}
